.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.skeleton-loading {
	background-color: rgba(255, 253, 247, 0.25);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.inset-edges {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	box-shadow: 0 0 16px 16px #fffdf7 inset;
	/* animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite; */
}

@keyframes pulse {
	50% {
		opacity: 0.2;
	}
}

.MuiLoadingButton-loadingIndicator {
	color: white !important;
}

.gradient {
	position: relative;
}

.gradient::after {
	position: absolute;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
		to top,
		hsla(0, 0%, 0%, 0.57) 0%,
		hsla(0, 0%, 0%, 0.522) 6.8%,
		hsla(0, 0%, 0%, 0.475) 12.5%,
		hsla(0, 0%, 0%, 0.429) 17.3%,
		hsla(0, 0%, 0%, 0.384) 21.6%,
		hsla(0, 0%, 0%, 0.34) 25.5%,
		hsla(0, 0%, 0%, 0.297) 29.3%,
		hsla(0, 0%, 0%, 0.256) 33.3%,
		hsla(0, 0%, 0%, 0.216) 37.6%,
		hsla(0, 0%, 0%, 0.178) 42.6%,
		hsla(0, 0%, 0%, 0.143) 48.5%,
		hsla(0, 0%, 0%, 0.109) 55.6%,
		hsla(0, 0%, 0%, 0.078) 64%,
		hsla(0, 0%, 0%, 0.049) 74%,
		hsla(0, 0%, 0%, 0.023) 85.9%,
		hsla(0, 0%, 0%, 0) 100%
	);
	background-image: -moz-linear-gradient(
		to top,
		hsla(0, 0%, 0%, 0.57) 0%,
		hsla(0, 0%, 0%, 0.522) 6.8%,
		hsla(0, 0%, 0%, 0.475) 12.5%,
		hsla(0, 0%, 0%, 0.429) 17.3%,
		hsla(0, 0%, 0%, 0.384) 21.6%,
		hsla(0, 0%, 0%, 0.34) 25.5%,
		hsla(0, 0%, 0%, 0.297) 29.3%,
		hsla(0, 0%, 0%, 0.256) 33.3%,
		hsla(0, 0%, 0%, 0.216) 37.6%,
		hsla(0, 0%, 0%, 0.178) 42.6%,
		hsla(0, 0%, 0%, 0.143) 48.5%,
		hsla(0, 0%, 0%, 0.109) 55.6%,
		hsla(0, 0%, 0%, 0.078) 64%,
		hsla(0, 0%, 0%, 0.049) 74%,
		hsla(0, 0%, 0%, 0.023) 85.9%,
		hsla(0, 0%, 0%, 0) 100%
	);
	background-image: -webkit-linear-gradient(
		to top,
		hsla(0, 0%, 0%, 0.57) 0%,
		hsla(0, 0%, 0%, 0.522) 6.8%,
		hsla(0, 0%, 0%, 0.475) 12.5%,
		hsla(0, 0%, 0%, 0.429) 17.3%,
		hsla(0, 0%, 0%, 0.384) 21.6%,
		hsla(0, 0%, 0%, 0.34) 25.5%,
		hsla(0, 0%, 0%, 0.297) 29.3%,
		hsla(0, 0%, 0%, 0.256) 33.3%,
		hsla(0, 0%, 0%, 0.216) 37.6%,
		hsla(0, 0%, 0%, 0.178) 42.6%,
		hsla(0, 0%, 0%, 0.143) 48.5%,
		hsla(0, 0%, 0%, 0.109) 55.6%,
		hsla(0, 0%, 0%, 0.078) 64%,
		hsla(0, 0%, 0%, 0.049) 74%,
		hsla(0, 0%, 0%, 0.023) 85.9%,
		hsla(0, 0%, 0%, 0) 100%
	);
	background-image: -o-linear-gradient(
		to top,
		hsla(0, 0%, 0%, 0.57) 0%,
		hsla(0, 0%, 0%, 0.522) 6.8%,
		hsla(0, 0%, 0%, 0.475) 12.5%,
		hsla(0, 0%, 0%, 0.429) 17.3%,
		hsla(0, 0%, 0%, 0.384) 21.6%,
		hsla(0, 0%, 0%, 0.34) 25.5%,
		hsla(0, 0%, 0%, 0.297) 29.3%,
		hsla(0, 0%, 0%, 0.256) 33.3%,
		hsla(0, 0%, 0%, 0.216) 37.6%,
		hsla(0, 0%, 0%, 0.178) 42.6%,
		hsla(0, 0%, 0%, 0.143) 48.5%,
		hsla(0, 0%, 0%, 0.109) 55.6%,
		hsla(0, 0%, 0%, 0.078) 64%,
		hsla(0, 0%, 0%, 0.049) 74%,
		hsla(0, 0%, 0%, 0.023) 85.9%,
		hsla(0, 0%, 0%, 0) 100%
	);
	/* background-image: linear-gradient(to right bottom, rgba(237, 110, 160, 0.8), rgba(251, 176, 59, 0.8)); */

	/* Chrome 10-25, Safari 5.1-6 */
	/* background-image: -webkit-linear-gradient(
		to right bottom,
		rgba(202, 143, 236, 0.6),
		rgba(63, 155, 165, 0.6),
		rgba(237, 110, 160, 0.6),
		rgba(251, 176, 59, 0.6)
	); */

	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	/* background-image: linear-gradient(
		to right bottom,
		rgba(202, 143, 236, 0.6),
		rgba(63, 155, 165, 0.6),
		rgba(237, 110, 160, 0.6),
		rgba(251, 176, 59, 0.6)
	); */

	/* position: relative;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1; */
}

/* .gradient img {
	display: block;
} */
